<div class="container mt-3 w-25">
  <%= simple_form_for @relation do |f| %>
    <%= f.input :relation_type, input_html: { class: 'front-input'}, label_html: { class: 'font-label' } %>
    <div>
      <%= button_tag(type: 'submit', class: 'btn btn-grey') do %>
        <i class="fa-solid fa-check"></i> OKay
      <% end %>
    </div>
  <% end %>
</div>
