<div class="container">
  <h1>All your relation types (<%= @relations.count %>)</h1>
  <%= link_to '➕ Add new relation', new_relation_path %>

  <ul>
    <% @relations.each do |relation| %>
      <li>
        <%= relation.relation_type %>
      </li>
    <% end %>
  </ul>
</div>
