<div class="container mt-3">
  <h1 style="font-family: 'Handlee', cursive;">Hello !</h1>
  <%= link_to 'Contacts list', contacts_path, class:'link' %> <br>
  <%= link_to 'Change some settings', edit_user_registration_path, class:'link' %> <br><br>
  <p>The developer tests the display of this picture 😥</p>
  <%= cl_image_tag('sanfrancisco', width: 400, height: 300, crop: :fill) %> <br>
  <p>He would like to :</p>
  <ul>
    <li>really have to debug contacts/form (Birthday field, line break)</li>
    <li>add the function for a user to edit his profile </li>
    <li>Add the function to filter contacts by relationship</li>
    <li>improving the style of contact details, using horizontal space</li>
    <li>improving the style of the contact list, maybe sorted by first letter, give the choice</li>
    <li>Add Search bar</li>
    <li>Add calendar for contact details</li>
  </ul>
</div>
