<div class="container mt-3 mb-3">
  <h1 style="font-family: 'Handlee', cursive;">Hello !</h1>
  <%= link_to 'Contacts list', contacts_path, class:'no-underline' %> <br>
  <%= link_to 'Change some settings', edit_user_registration_path, class:'no-underline' %> <br><br>
  <p>The developer tests the display of this picture 😥</p>
  <%= cl_image_tag('sanfrancisco', width: 400, height: 300, crop: :fill, class: "img-fluid") %> <br>
  <p>He would like to :</p>
  <ul>
    <p>Easy & minor</p>
    <li>Add many and many error logs</li>
    <li>Correct the redirection after Sign up</li>
    <br>
    <p>Others :</p>
    <li>Debug paragraphe read more (option simple format ?, use iterator .each ?)</li>
    <li>Investigate about copied button state when read more or read less is copied</li>
    <li>improving the style of the contact list, maybe sorted by first letter, give the choice</li>
  </ul>
</div>
