.btn-grey {
  background-color: gray;
  color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Handlee', cursive;
  letter-spacing: 1px;
  // font-weight: bold;
  font-size: 1.3rem;
}

.btn-group {
  position: absolute;
  top: 70%;
  right: 5%;
  border-radius: inherit;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Handlee', cursive;
}
