.btn-grey {
  background-color: gray;
  color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Handlee', cursive;
  letter-spacing: 1px;
  font-size: 1.3rem;
}

.btn-grey-square {
  background-color: gray;
  color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Handlee', cursive;
  letter-spacing: 1px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44.334px;
  width: 44.334px;
}

.btn-group {
  position: absolute;
  top: 71%;
  right: 6%;
  border-radius: inherit;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Handlee', cursive;
}

.btn-add {
  display: flex;
  flex-direction: column;
}

.sticky {
  position: sticky;
  top: 120px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4)
}

.btn-danger {
  background-color: #D44147;
  color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Handlee', cursive;
  letter-spacing: 1px;
  font-size: 1.3rem;
}

@media(max-width: 576px) {
  .transparant {
    background-color: rgba(128,128,128,0.7);
  }
  .btn-group {
    top: 36%;
  }
  .sticky {
    position: sticky;
    top: 116px;
  }
}
