.contact-card {
  width: calc(25% - 20px);
  margin: 10px;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  background-color: transparent;
}

.contact-card img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.card-text {
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
}

.color-card {
  max-width: 25rem;
  height: fit-content;
  border-width: 5px;
  border-radius: 15px;
}
.yellow {
  border-color: rgb(249,214,21);
  .card-title {
    color: #c7ac14;
  }
}
.green {
  border-color: rgb(128,186,146);
  .card-title {
    color: rgb(128,186,146);
  }
}

@media(max-width: 576px) {
  .contact-card {
    width: calc(33% - 19px);
    height: 174.067px;
  }
  .card-body {
    padding: 5px 12px;
  }
}
