.yellow {
  border-color: rgb(249,214,21);
  .card-title {
    color: #c7ac14;
  }
}
.green {
  border-color: rgb(128,186,146);
  .card-title {
    color: rgb(128,186,146);
  }
}
.l-pink {
  border-color: rgb(239,117,122);
  .card-title {
    color: rgb(239,117,122);
  }
}
.d-pink {
  border-color: rgb(194,30,90);
  .card-title {
    color: rgb(194,30,90);
  }
}
.pink {
  border-color: rgb(234,142,220);
  .card-title {
    color: rgb(234,142,220);
  }
}
.orange {
  border-color: rgb(243,146,55);
  .card-title {
    color: rgb(243,146,55);
  }
}
.l-gray {
  border-color: lightgray;
  .card-title {
    color: gray;
  }
}
.l-purple {
  border-color: rgb(184,184,243);
  .card-title {
    color: #7676f4;
  }
}
