.menu-radius {
  border-radius: 15px;
  background-color: grey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.choice-menu {
  font-family: 'Handlee', cursive;
  color: whitesmoke;
  letter-spacing: 1px;
  font-size: larger;
  &:hover {
    color: grey;
  }
}

@media(max-width: 576px) {
  .menu-radius {
    background-color: rgba(128,128,128,0.7);
  }
}
