.margin-navbar {
  width: 100%;
  height: 100px;
  background: #ffffff9d;
  box-shadow: 4px 4px 0 #D44147;
  background-image:
    linear-gradient(
      90deg,
      #fff 12px, 0,
      #383838 15px, 0,
      grey 20px, 0,
      #fff 100%
    ),
    radial-gradient(
      circle closest-side,
      rgba(255,255,255,0) 88%,
      #fff 100%
    ),
    radial-gradient(
      circle at 22px 8px,
      grey 40%,
      #383838 40%,
      #383838 100%
    );
  background-size: 32px 8px, 32px 16px, 32px 16px;
  background-repeat: space no-repeat;
  background-position: center top, center 6px, center 6px;
}

.margin-navbar .navbar-collapse {
  flex-grow: 0;
}

.margin-navbar .navbar-brand img {
  width: 40px;
}


@media(max-width: 576px) {
  .navbar-nav{
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
    width: max-content;
    position: fixed;
    right: 0.5rem;
    z-index: 1;
    padding: 10px;
  }
  .nav-link {
    color: black;
    // font-size: large;
  }
  .dropdown-menu {
    background-color: rgba(255,255,255,0);
    border: none;
  }
  .dropdown-item {
    // font-size: large;
    &:hover {
      background: none;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      color: #343a40;
    }
  }
}
