.title {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

.font-label {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.3rem;
}

.front-input {
  font-family: 'Handlee', cursive;
  font-size: 1.1rem;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.link {
  text-decoration: none;
}
