.title {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  color: black;
}

.text {
  font-family: 'Handlee', cursive;
  font-size: 1.1rem;
  background-color: rgba(255,255,255,0.3);
  border-radius: 15px;
  padding: (1rem * .5) !important;
}

.font-label {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.3rem;
}

.front-input {
  font-family: 'Handlee', cursive;
  font-size: 1.1rem;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.no-underline {
  text-decoration-line: none;
}

@media(max-width: 576px) {
  .title {
    margin-bottom: 0px;
  }
}
